@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
.outfit{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.glow{
    position: relative;
    overflow: initial ;
    z-index: 50;

}
.glow::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 102%;
    width: 102%;
    background-color: cyan;
    z-index: -1;
    filter: blur(9px);
}